/*reset css, from YUI Library*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td
{
    margin: 0;
    padding: 0;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
}
fieldset,
img
{
    border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var
{
    font-weight: normal;
    font-style: normal;
}
ol,
ul
{
    list-style: none;
}
caption,
th
{
    text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
    font-weight: normal;
}
q:before,
q:after
{
    content: ”;
}
abbr,
acronym
{
    border: 0;
}

html
{
    font-size: 40px;
}

body
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: .6rem;
    font-weight: 500;

    position: relative;

    overflow: hidden;

    width: 100%;
    height: 100vh;

    background-color: #eeeff3;
}

/*main包裹层*/
.apply-wrap
{
    position: relative;

    width: 100%;
    margin: 1.13rem auto 0;
}

/*输入框和提交按钮*/
.apply-message-wrap
{
    font-family: 'MicrosoftJhengHei','Microsoft YaHei','微软雅黑','STSong';
    line-height: 2.6rem;

    position: relative;

    width: 95%;
    height: 2.6rem;
    margin: 0 auto 1.13rem;
    padding-left: 5%;

    text-align: left;

    background-color: #fff;
}

.apply-input-wrap
{
    position: relative;

    width: 100%;
    margin: 0 auto 1.13rem;

    background-color: #fff;
}

.apply-input
{
    position: relative;

    display: block;

    width: 90%;
    margin: 0 auto;
}

.apply-input input
{
    font-family: 'MicrosoftJhengHei','Microsoft YaHei','微软雅黑','STSong';
    font-size: .6rem;

    display: block;

    width: 80%;
    height: 2rem;
    margin: 0 auto;
    padding-left: 3rem;

    text-align: left;

    color: #181818;
    border: none;

    -webkit-appearance: none;
}

#applyUserName,
#applyIdNum
{
    border-bottom: solid 1px #d6d6d6;
    outline: none;
}

#applyUserName,
#applyIdNum,
#applyPhone{
    outline: none;
}

.apply-input span
{
    font-family: 'MicrosoftJhengHei','Microsoft YaHei','微软雅黑','STSong';
    font-size: .6rem;
    line-height: 2rem;

    position: absolute;
    top: 0rem;
    left: 0rem;

    display: inline-block;

    width: 4rem;
    height: 2rem;
    margin-left: .2rem;

    color: #181818;
}

.apply-message-wrap span
{
    font-family: 'MicrosoftJhengHei','Microsoft YaHei','微软雅黑','STSong';
    line-height: 1.3rem;

    position: absolute;
    top: 0rem;
    left: 20%;

    display: inline-block;

    width: 70%;
    height: 2.6rem;

    text-align: left;

    background-color: #fff;
}


.apply-btn
{
    line-height: 2rem;

    position: relative;

    display: block;
    overflow: hidden;

    width: 90%;
    height: 1.9rem;
    margin: 0 auto;

    border: 2px solid #03bd00;
    border-radius: .5rem;
    background-color: #03bd00;
}

.apply-btn-text
{
    font-family: 'MicrosoftJhengHei','Microsoft YaHei','微软雅黑','STSong';
    font-size: .6rem;

    position: absolute;
    top: 0rem;
    left: 50%;

    width: 4rem;
    height: 2rem;
    margin-left: -2rem;

    text-align: center;
    letter-spacing: .5rem;

    color: #fff;
}

#applyBtn
{
    border: 0;
    background-color: transparent;
}


/*确认按钮点击后动画*/
.apply-btn-ani
{
    width: 1.5rem;
    height: 2rem;

    -webkit-animation: move_eye 2s linear 0s infinite alternate;
            animation: move_eye 2s linear 0s infinite alternate;

    color: white;
    border: 0;
    background-color: red;
    background-image: linear-gradient(to right, rgba( 230,230,230,.7 ) 25%, rgba( 230,230,230,.1 ) 50%, rgba( 230,230,230,.7 ) 75%);
}

@-webkit-keyframes move_eye
{
    from
    {
        margin-left: 5%;
    } to
    {
        margin-left: 80%;
    }
}
@keyframes move_eye
{
    from
    {
        margin-left: 5%;
    } to
    {
        margin-left: 85%;
    }
}

/*媒体查询，匹配分辨率*/
@media only screen and (max-width: 373px)
{
    html
    {
        font-size: 20px;
    }
}
@media only screen and (min-width: 374px) and (max-width: 450px)
{
    html
    {
        font-size: 24px;
    }
}
@media only screen and (min-width: 451px) and (max-width: 525px)
{
    html
    {
        font-size: 28px;
    }
}
@media only screen and (min-width: 526px) and (max-width: 600px)
{
    html
    {
        font-size: 32px;
    }
}
@media only screen and (min-width: 601px) and (max-width: 675px)
{
    html
    {
        font-size: 36px;
    }
}

/*alert弹出框样式*/
#alertbox
{
    font-size: 16px;
    font-weight: bold;
    line-height: 2rem;

    position: absolute;
    z-index: 999;
    top: 42%;
    left: 20%;

    width: 60%;
    height: 4rem;

    text-align: center;
    word-wrap: break-word;

    border-radius: .3rem;
    background-color: rgb(248, 248, 248);
}

#alertbutton
{
    font-weight: normal;
    line-height: 1.5rem;

    position: absolute;
    right: 0;
    bottom: 0;

    width: 99%;
    height: 1.5rem;

    text-align: center;

    color: #61a7ea;
    border: 1px solid rgb(204, 204, 204);
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    outline: none;
    background-color: rgb(255, 255, 255);
}

#backg
{
    position: absolute;
    top: 0;

    overflow: hidden;

    width: 100%;
    height: 100%;

    opacity: .3;
    background: #000;
}
